html{
  margin:0;
  padding:0;
}
  body{
    margin: 0;
    font-family:'Arial', sans-serif;
    background: linear-gradient(to bottom, #faf3e0, #efd6b8);
    color: #5c3913;
  }
  
  
  #titleNav{
    /* mobile: title on top of nav */
  display:flex; 
  flex-direction: column;

  /* fixed to top */
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0rem;
  background-color: #e1caad;
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  }
  #title{
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem;
    letter-spacing: 0.1rem; /* spaces out letters a bit */
    white-space: nowrap;  /* don't allow the title to wrap */
    color: #5c3913;
  }
  #nav{
    font-weight: bold;
    padding: 1rem;
    text-align: center;

  }
  .navLink a{
    text-decoration: none;
    color:#5c3913;
    font-weight: bold;
  }
  .navLink a:hover{
    color: #d9853b;
  }
  #content{
    margin: 7rem 2rem 3rem 1rem;
    padding: 1rem;
    line-height: 1.5;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .text-section {
    flex: 1;
}
.image-section {
  width: 200px; /* Fixed circular size */
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures full coverage without stretching */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}
#content img{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
  #content h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #content ul{
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  #content ul li{
    margin-bottom: .5rem;
  }
  #content p{
    margin-bottom: 1.5rem;
  }
  
  #footer{
    background-color: #e1caad;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  }
  #footer p{
    font-size: .75rem;
  }
  
  /* desktop only */
  @media only screen and (min-width: 38rem) { /* this size is tailored to size of "web site title" */

  /* in desktop the titleNav is not as tall, so less top margin needed to prevent titleNav from hiding top of for content */
  #content {
      margin-top: 4.5rem;
      /* color: red;  /* I added this to debug when the desktop rules kick in */
  }

  #titleNav {
      /* flex attributes */
      flex-direction: row;
      justify-content: space-between; /* flex attribute will push title left and nav right, with "space between" */
  }
  #nav{
      padding-right: 2rem;
      gap: 1.5rem;
  }
  }
